body {
    background-color: #F0F0F0;
}
.top-page {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 100px;
    padding: 50px;
    margin-left: 100px;

}

#arajei {
    text-align: center;
    margin: auto;
    font
}

.catherine {
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    
    

}

.commitment {
    align-self: flex-start;
    margin-left: 60px;
    padding-top: 0%;
    flex: 1 0 0;
    margin-right: 50px;
    margin-top: 80px;
    font-size: 20px;
    font-weight: 100;
}


.paragraphs {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product-header {
    text-align: center;
    margin-top: 50px;
}

.dining {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-left: 100px;
}
.valeria {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-left: 100px;
    width: 300px;
    height: 300px;
}
.kivaka {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
    width: 300px;
    height: 300px;
}

.products {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}

.quote {
    padding: 70px;
    background-color: #EDDBC7;
    border-radius: 50px;

}
.success {
    text-align: center;
    
}

.winston {
    text-align: center;
}

.team {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.elon {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-left: 100px;
}

.sergey {
    width: 300px;
    height: 300px;
    border-radius: 50px;

}

.larry {
    width: 300px;
    height: 300px;
    border-radius: 50px;

}

.header-team {
    text-align: center;
}

.dedication {
    text-align: center;

}

footer {
    display: flex;
    gap: 50px;
    margin-bottom: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h5 {

}

.instagram {
    margin-left: 100px;
    color: #2C3333;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.copywright {
    text-align: center;
    color: #2C3333;

}
.linkedin {
    color: #2C3333;

}

figcaption {
    align-self: flex-end;
    display: block;
}